.mainLogin {
  width: 80%;
  height: 40vh;
  background-color: #ebebeb;


  

  display: flex;
  flex-direction: column;
}

.div-login {
  display: flex;
  flex-direction: row;
  align-items: center;
justify-content: center;
 background-color: #ebebeb;

}

.div-login i {
  font-size: 26px;
}

.h1login {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: #666;
}
.password-div1 input{
  text-align: center;
border: none;
 }
 .password-div1 label{
  
 text-align: center;
     }
     .loginButton {
    
      display: flex;
      justify-content: center;
    }
  
    .loginButton input {
      font-size: 18px;
      height: 35px;
      border-radius: 5px;
      font-weight: bold;
      
      background-color: #ebebeb;
    }
  

.loginButton input:hover {
  background-color: #0022aa;
  color:white;
}



.password-recovery {
  font-size: 12px;
  margin-top: 10px;
}
@media (min-width: 361px) {
  .mainLogin {
    
    width: 45%;
  }

  
}

@media (min-width: 769px) {
  .mainLogin {
    width: 35vw;
  
  }

}
