.mainLogin {
  width: 80%;
  height: 60vh;
  background-color: #eac926;
  border: 2px solid grey;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10%;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.div-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #eac926;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}

.div-login i {
  font-size: 26px;
}

.h1login {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 10px;
  font-size: 24px;
  color: #666;
}

.userName {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.userName label {
  font-weight: bold;
  width: 48%;
  font-size: 13px;
}

.userName input {
  text-align: center;
  text-transform: uppercase;
  width: 45%;
  height: 20px;
}

.password {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.password label {
  font-weight: bold;
  width: 48%;
  font-size: 13px;
}

.password input {
  text-align: center;
  text-transform: uppercase;
  width: 45%;
  height: 20px;
}

.loginButton {
  display: flex;
  justify-content: center;
}

.loginButton input:hover {
  background-color: #0022aa;
}

.loginButton input {
  font-weight: bold;
  width: 30%;
  height: 28px;
  background-color: #ebebeb;
}

.password-recovery {
  font-size: 12px;
  margin-top: 10px;
}
@media (min-width: 361px) {
  .mainLogin {
    padding-top: 30px;
    height: 100vh;
    width: 90%;
  }

  .div-login {
    border-bottom: 2px solid #666;
  }

  .div-login i {
    font-size: 30px;
  }

  .h1login {
    font-size: 28px;
  }

  .userName {
    height: 12vh;
  }

  .userName label {
    font-size: 16px;
  }

  .userName input {
    font-size: 16px;
    height: 5vh;
    border: 2px solid #666;
  }

  .password {
    height: 12vh;
  }

  .password label {
    font-size: 16px;
  }

  .password input {
    font-size: 16px;
    height: 5vh;
    border: 2px solid #666;
  }

  .loginButton {
    align-items: center;
    height: 16vh;
  }

  .loginButton input {
    font-size: 18px;
    height: 8vh;
    width: 24vw;
  }

  .password-recovery {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
  }
}

@media (min-width: 769px) {
  .mainLogin {
    width: 100vw;
    height: 110vh;
    margin-bottom: -2px;
    margin-top: 0px;
    border: none;
  }

  .h1login {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .userName label {
    font-size: 20px;
  }

  .userName input {
    height: 8vh;
    font-size: 18px;
  }

  .password label {
    font-size: 20px;
  }

  .password input {
    height: 8vh;
    font-size: 18px;
  }

  .loginButton {
    height: 20vh;
  }

  .loginButton input {
    font-size: 22px;
    height: 10vh;
  }

  .password-recovery {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
