.mainRegister {
  width: 100%;
  background-color: #ebebeb;
  padding: 30px 10px 0px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

.h1register {
  text-align: center;
  font-size: 24px;
  color: #666;
  background-color: #ebebeb;
    width: 100%;
}

.main-form {
  background-color: #ebebeb;
  width: 100%;
}

.fullname {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.fullname label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

.fullname input {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 4vh;
  border: none;
  border-radius: 5px;
}

.userName {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.userName label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

input#user {
  text-align: center;
  width: 100%;
  height: 4vh;
  border: none;
  border-radius: 5px;
}

.birthDate {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.birthDate label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

.birthDate input {
  width: 100%;
  height: 4vh;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.email {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.email label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: center;
}

.email input {
  text-align: center;
  width: 100%;
  height: 4vh;
  border: none;
  border-radius: 5px;
}

.sellOrBuy {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sellOrBuy label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: left;

}

.sellOrBuy1 {
  font-size: 13px;
  padding-left: 20px;
}

.interests {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.interests label {
  font-weight: bold;
  font-size: 13px;
  width: 100%;
  text-align: left;
  
}

.interests input {
  margin-right: 10px;

}

.interests-div {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 12px;
  margin-bottom: 3.5px;
}

.avatar {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.avatar label {
  font-weight: bold;
  font-size: 13px;
  width: 45%;
  text-align: center;
}

.avatar input {
  width: 45%;
  font-size: 11px;
}

.password {
  display: flex;
  flex-direction: column;

  
}

.password-div1 {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-bottom: 10px;
}

.password-div2 {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.password-div1 label {
  font-size: 13px;
  font-weight: bold;
  width: 100%;
}

.password-div2 label {
  font-size: 13px;
  font-weight: bold;
  width: 100%;
}

input#password {
  width: 100%;
  border-radius: 5px;
  height: 30px;
}

.div-registerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registerButtons {
  width: 50%;
  padding: 0px 2px 0px 2px;
}

.registerButtons input {
  font-weight: bold;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.registerButtons input:hover {
  background-color: #0022aa;
}



@media (min-width: 361px) {
  .mainRegister {
    width: 60%;
   
  }

}

@media (min-width: 769px) {
  .mainRegister {
    width: 45%;
   
  }
}
@media (min-width: 1000px) {
  .mainRegister {
    width: 35%;
   
  }
}