@import url(register.css);
@import url(login.css);
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --amarillo: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris-oscuro: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gris-claro);
}
header {
  background-color: var(--amarillo);
  width: 100vw;
  margin: auto;
}
header img {
  width: 100%;
}
.contenedor-nav {
  display: none;
}
.logo {
  width: 50%;
  padding: 10px;
}
.buscador {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 50%;
  position: relative;
  border-radius: 10px;
}
.input {
  background-color: #fff;
  border-radius: 10px;
  color: var(--gris-oscuro);
  padding: 5px;
  width: 100%;
}
.icono-buscador {
  background-color: #fff;
  border-left: 1px solid #000;
  color: var(--gris-oscuro);
  position: absolute;
  right: 10px;
  padding: 3px;
}
.texto-formasdepago {
  text-align: center;
}
header ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
h3.titulares {
  font-size: 24px;
}
p.precios {
  font-size: 18px;
  width: 30%;
  text-align: left;
}
p.descuentos {
  font-size: 16px;
  color: var(--verde);
  width: 70%;
  text-align: right;
}
h4.descripciones {
  font-size: 16px;
  display: none;
}
.burger-menu {
  text-align: center;
}
.burger-menu i {
  background-color: var(--celeste);
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 20px 0;
}
.content-footer {
  margin: 10px;
  text-align: center;
}
.content-footer i {
  color: var(--celeste);
  font-size: 2em;
  margin-bottom: 10px;
}
.cuerpos-textos {
  font-size: 12px;
}
main {
  width: 90vw;
  margin: auto;
}
article {
  margin-bottom: 10px;
  /* padding-left: 5%; */
  width: 90%;
  background-color: #fff;
  border-radius: 5px;
}
article img {
  width: 90%;
}
article:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
article:hover .descripciones{
  display: block;
}
article:hover .fa-truck {
  transform: rotate(-90deg);
  box-shadow: 0 0 5px var(--green);
}
.article-box {
  border-top: 1px solid var(--gris-claro);
  text-align: left;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  
}
.article-box i {
  color: var(--verde);
  font-size: 1.2em;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.55s;
}
.productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-superior {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 361px) {

  .productos {
    justify-content: space-around;
  }
  article {
    width: 40%;
  }
  .contenedor-nav {
    display: block;
  }
  .header-superior {
    display: flex;
    justify-content: center;
  }
  .burger-menu {
    display: none;
  }
  .contenedor-nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
  }
  .contenedor-nav ul {
    display: flex;
  }
  .contenedor-nav ul li {
    padding: 0 10px 0 10px;
  }
}

@media (min-width: 769px) {
  
  .productos {
    justify-content: space-between;
  }
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 20%;
  }

  .contenedor-nav {
    display: flex;
    justify-content: space-around;
    margin: 10px 0 10px 0;
  }
  .contenedor-nav ul {
    display: flex;
  }
  .contenedor-nav ul li {
    padding: 0 10px 0 10px;
  }
  .logo {
    width: 225px;
    padding: 10px;
  }
  .header-superior {
    display: flex;
    align-items: center;
  }
  .burger-menu {
    display: none;
  }
}
